.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: gray;
}

.chatHeader_hash {
    color: gray;
    font-size: 30px;
    padding: 10px;
}

.chatHeader_left>h3 {
    display: flex;
    align-items: center;
    color: white;
}

.chatHeader_right {
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-content: space-between;
}

.icon_chat {
    padding: 5px;
    cursor: pointer;
    display: flex;
}

.MuiSvgIcon-root:hover {
    color: white;
}

.chatHeader_search {
    display: flex;
    color: gray;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.chatHeader_search>input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}