.message {
    display: flex;
    align-items: center;
    padding: 20px;
  color: white;
}
.message_info {
    margin-left: 20px;
    color: white;
}
.message_timesstamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}
